@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;


// Style Click Open Header In Mobile
.click-nav {
    display: none;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 999;
    width: 40px;
    height: 44px;
    justify-content: center;
    .handle {
      background: $mainColor;
      height: 1px;
      width: 100%;
      margin: 0.32em auto;
      transition: all 350ms cubic-bezier(0.28, 0.55, 0.385, 1.65);
      transition-timing-function: cubic-bezier(0.28, 0.55, 0.385, 1.65);
    }
    .closed {
      transform: rotate(45deg);
      width: 40px;
      position: relative;
      top: -7px;
    }
    .closed:nth-of-type(2) {
      transform: rotate(-45deg);
      margin: -0.5em 0.5em;
    }
    .closed:nth-of-type(3) {
      display: none;
    }
}

// Style RadioBox
.radio-box {
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: auto;
      &:checked {
          ~ .checkmark {
              border: 1px solid $mainColor;
              background-color: $mainColor;
          }
          ~ .checkmark:after {
              display: block;
          }
      }
  }
  .checkmark {
      border: 1px solid #ddd;
      position: relative;
      display: inline-block;
      height: 22px;
      width: 22px;
      background-color: transparent;
      border-radius: 5px;
      &:after {
          content: "";
          position: absolute;
          display: none;
          left: 7px;
          top: 2px;
          width: 7px;
          height: 12px;
          border: solid $whiteColor;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
      }
  }
}

// Image Upload
.images-upload-block{
  width: 160px;
  height: 160px;
  .upload-img{
    @include positionItem(absolute, initial, 0, 0, initial, initial);
    width: 40px;
    height: 40px;
    background-color: #071687;
      input{
          @include positionItem(absolute, 0, initial, 0, initial, initial);
          width: 100%;
          height: 100%;
          opacity: 0;
      }
  }
  .uploaded-block{
      @include positionItem(absolute, 0, initial, 0, initial, initial);
      width: 100%;
      height: 100%;
      z-index: 9;
      img{
          width: 100%;
          height: 100%;
      }
      .close{
          @include positionItem(absolute, 0, initial, 0, initial, initial);
          background-color: rgb(243, 79, 63, 0.3) !important;
          width: 100%;
          height: 100%;
          z-index: 9;
      }
  }
}

// Select Option
.select-in{
  &::after{
      content:"\e907";
      font-family:"icomoon";
      @include positionItem(absolute, 50%, initial, initial, initial, translateY(-50%));
  }
  .form-select {
      padding: 13px 20px;
      background-image: initial;
      border-radius: 10px;
      &:focus {
          border-color: #ced4da;
          outline: 0;
          box-shadow: 0 0 0 0 rgba(13,110,253,.25);
      }
  }
}

// Dropdown
.dropdown-menu{
  top: 8px !important;
  .dropdown-item:focus, .dropdown-item:hover{
    background-color: transparent !important;
    color: $blackColor;
  }
}

// Pagination
.box-pagination{
  @include positionItem(fixed, initial, 0, 0, initial, initial);
  .pagination{
    ul{
      li{
        a{
          width: 35px;
          height: 35px;
          border-radius: 6px;
          i{
  
          }
        }
      }
    }
  }
}

// Style Main Board
.body-board{
  .block-sec{
    border-radius: 10px;
    .icon-sec{
      span{
        width: 50px;
        height: 50px;
        background-color: #fef9f3;
      }
    }
  }
  .in-filter{
    .search-in{
      width: 400px;
      input{
        border-radius: 50px;
        padding: 0 10px;
        height: 40px;
        color: $blackColor
      }
      button{
        @include positionItem(absolute, 7px, initial, initial, initial, initial);
      }
    }
    .date-input{
      input{
        padding: 0 10px;
        height: 40px;
        border-radius: 50px;
        color: $blackColor;
      }
    }
  }
  .form-user{
    input{
      color: $blackColor;
    }
  }
  .section-client{
    .img-client{
      img{
        width: 130px;
        height: 130px;
      }
    }
  }
}

// Auth
.bg-auth{
  border-radius: 30px 30px 0 0;
  height: 600px;
  .img-auth{
    img{
      height: 576px;
    }
  }
  .otp-num{
    input{
      width: 60px;
      height: 50px;
    }
  }
  .vector-shape{
    max-width: 150px;
  }
  .OR{
    &::after{
      content: "";
      background-color: $whiteColor;
      opacity: 40%;
      height: 1px;
      width: 100%;
      @include positionItem(absolute, 50%, initial, 0, initial, translateY(-50%));
    }
    span{
      z-index: 9;
      width: 40px;
      height: 40px;
      background-color: $mainColor;
    }
  }
}

// Up;oad File
.custom-file-upload {
  border: 1px solid $colorBorderInput;
  padding: 13px 20px;
  border-radius: 10px;
  background-color:rgba(255,255,255,0.2);
  color: $whiteColor;
}

// Style Main Body Home
.body-home{
  // Head Poster
  .head-poster{
    overflow: hidden;
    border-radius: 60px 60px 0 0;
    height: 800px;
    img{
      height: 800px;
    }
    .info-head-poster{
      @include positionItem(absolute, 50%, initial, 0, 0, translateY(-50%));
      max-width: 435px;
      h1{
        font-size: 50px
      }
    }
    .over-div{
      @include positionItem(absolute, initial, 0, 0, 0, initial);
      background: #e5e5e5;
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 20%,rgba(7, 22, 135, 0.8) 100%);
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 20%,rgba(7, 22, 135, 0.8) 100px);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 20%,rgba(7, 22, 135, 0.8) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$mainColor, endColorstr=$mainColor,GradientType=0);
    }
    .down-in{
      @include positionItem(absolute, initial, 30px, 0, 0, initial);
    }
  } 
  // Section boxs
  .section-boxs{
    .box-item{
      border-radius: 15px;
      span{
        width: 50px;
        height: 50px;
      }
    }
  }
  // Join Us
  .join-us{
    border-radius: 20px;
    img{
      &:first-child{
        height: 450px;
      }
    }
    .over-div{
      @include positionItem(absolute, initial, 0, 0, 0, initial);
      background: #e5e5e5;
      background: -moz-linear-gradient(right, rgba(7, 22, 135, 0.3) 0%,rgb(0, 13, 110) 100%);
      background: -webkit-linear-gradient(right, rgba(7, 22, 135, 0.3) 0%,rgba(0, 13, 110) 100px);
      background: linear-gradient(to left, rgba(7, 22, 135, 0.3) 0%,rgba(0, 13, 110) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$mainColor, endColorstr=$mainColor,GradientType=0);
      z-index: 2;
    }
    .info-us{
      @include positionItem(absolute, 50%, initial, 0, 0, translateY(-50%));
      max-width: 85%;
      z-index: 6;
    }
  }
  // Down In
  .down-in{
    font-size: 50px;
    animation-name: my-animation;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes my-animation {
    from {
      transform: translateY(10px);
    }
    to {
      transform: translateY(20px);
    }
  }
}