@use '../abstracts/mixins' as *;

// Dir LTR

html[dir=ltr] {

    // Body App
    body{
        direction: ltr;
    }

    // Style Main Board
    .body-board{
        .in-filter{
            .search-in{
                button{
                    right: 15px;
                }
            }
        }
    }

    // Select Option
    .select-in{
        &::after{
            right: 20px;
        }
    }


    // Media
    @media (max-width: 1200px) {
        // Nav
        .nav-header{
            transform: translateX(-100%);  
            left: 0;
        }
    }

}

// Dir RTL

html[dir=rtl] {

    // Body App
    body{
        direction: rtl;
    }

    // Style Main Board
    .body-board{
        .in-filter{
            .search-in{
                button{
                    left: 15px;
                }
            }
        }
    }

    // Select Option
    .select-in{
        &::after{
            left: 20px;
        }
    }
    

    // Media
    @media (max-width: 1200px) {
        // Nav
        .nav-header{
            transform: translateX(100%);  
            right: 0; 
        }
    }

}