@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jqzdnn');
  src:  url('fonts/icomoon.eot?jqzdnn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jqzdnn') format('truetype'),
    url('fonts/icomoon.woff?jqzdnn') format('woff'),
    url('fonts/icomoon.svg?jqzdnn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bi_check-all:before {
  content: "\e917";
}
.icon-discount-fill:before {
  content: "\e900";
}
.icon-team-dashboard:before {
  content: "\e901";
}
.icon-users-group:before {
  content: "\e902";
}
.icon-alert-circle:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-bell:before {
  content: "\e905";
}
.icon-camera:before {
  content: "\e918";
}
.icon-check-square:before {
  content: "\e906";
}
.icon-chevron-down:before {
  content: "\e907";
}
.icon-chevron-left:before {
  content: "\e914";
}
.icon-chevron-right:before {
  content: "\e915";
}
.icon-download:before {
  content: "\e913";
}
.icon-edit:before {
  content: "\e908";
}
.icon-file-text:before {
  content: "\e909";
}
.icon-log-out:before {
  content: "\e912";
}
.icon-menu:before {
  content: "\e90a";
}
.icon-plus-square:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e916";
}
.icon-trash-2:before {
  content: "\e90c";
}
.icon-upload:before {
  content: "\e90d";
}
.icon-user:before {
  content: "\e90e";
}
.icon-x:before {
  content: "\e90f";
}
.icon-x-circle:before {
  content: "\e910";
}
.icon-home:before {
  content: "\e911";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-printer:before {
  content: "\e954";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-file-excel:before {
  content: "\eae2";
}
