// Colors Page

$mainColor                          : #071687;
$secondColor                        : #F7941D;
$footerColor                        : #0B0E29;
$secOpColor                         : #E6E8F3;

$bgDarkOverlayColor                 : rgba(0,0,0,0.5);
$bgLightOverlayColor                : rgba(255, 255, 255, 0.5);

$colorBorderInput                   : #B6B6B6;
$colorInput                         : #757575;
$placholderInputColor               : #9e9e9e;

$whiteColor                         : #FFF;
$gray                               : #BABABA;
$blackColor                         : #000;